@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="display-4">Modele</h1>
    <a href="/ExcerciseTypes">ExcerciseTypes</a><br/>
    <a href="/Excercises">Excercises</a><br />
    <a href="/Sessions">Sessions</a><br />
    <a href="/Stats">Stats</a>
</div>
